// Old Colors


// Colors


// New Colors
$blanco:#FFFFFF;
$naranja:#F07D24;
$azul:#2F5EA9;
$negro: #343E46;
$gradient-naranja:  linear-gradient(290.25deg, #F07D24 0%, #E9941A 100%);
$gradiente-azul: linear-gradient(290.25deg, #3C64B1 0%, #4CA9DF 100%);
$gradiente-gris: linear-gradient(180deg, #F9F9F9 51.04%, #EFF0F2 84.9%, #EFF0F2 100%);
// Measurements
$image_isotype_height: 70px;

// Typography:
$font-titulos: 'Exo', sans-serif;
$font-textos: 'Rubik', sans-serif;

// Transition:
$transition: all .4s ease-in;

// Breakpoint
$breakpoint_500px: 500px;
$breakpoint_768px: 768px;
$breakpoint_960px: 960px;

