.contenido-posts {
    padding-left: 0;
    border-left: 15px solid $naranja;
    margin-bottom:25px;
    .owl-stage-outer {
      @include respond-below(lg){
        width: 345px;
      }
    }
    .owl-dots{
      position:absolute;
      bottom:0;
      left:30%;
      @include respond-above(lg){
        left:40%!important
      }
      span {
        background: none repeat scroll 0 0 #dee2e6;
        border-radius: 50%;
        display: block;
        height: 12px;
        margin: 5px;
        opacity: 1;
        width: 12px;
      }
      .active{
        span{
          background: $naranja;
        }
      }
    }
    .imagen-post {
      height: 380px;
      background-position: center;
      border-radius: 0 20px 20px 0;
      filter:grayscale(1)
    }
    .startup-title{
      position:absolute;
      bottom:30px;
      margin-left:15px;
      a{
        color:$blanco;
        img {
          height:auto;
          width:250px!important;
          filter:invert(1);

        }
      }
    }

}
#partners-carousel{
  .owl-item {
    @include respond-below(lg){
      width: 250px!important;
    }
  }
  .partner {
    background: linear-gradient(180deg, #F9F9F9 51.04%, #EFF0F2 84.9%, #EFF0F2 100%);
    border-radius: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 241px;
    @include respond-below(lg){
      width: 250.97px!important;
    }
    .foto {
      width: 250.97px;
      height: 233px;
      background-size: cover;
      background-position-y: -30px;
      margin-bottom: 20px;
      border-radius: 20px;
      overflow: hidden;
    }
    .nombre {
      font-size: 18px;
      font-weight: 600;
      padding: 0 10px;
    }
    .rol{
      font-size: 14px;
      font-weight: 400;
      margin: 5px 10px 13px;
    }
    .redes{
      margin: 0 10px;
    }
    .red {
      width: 32px!important;
      height: 32px!important;
      background: #212529!important;
      margin: 0 0 5px!important;
      margin-right: 15px!important;
      a{
        font-size: 18px!important;
        color: #fff!important;
      }
    }

  }
}