#news{
  min-height: 205px;
  display: flex;
  background: $gradiente-gris;
  @include respond-below(lg){
    padding:84px 0
  }
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      text-align: center;
      margin-bottom: 25px;
    }
    .wpcf7{
      width: 100%;
      .newsletter .row{
        justify-content: center;
      }
      input{
        width: 100%;
        &:focus {
          outline-color: #f07d24;
        }
      }
      .wpcf7-email{
        padding-left: 15px;
        padding-top: 14px;
        padding-bottom: 14px;
        border: none;
        margin-bottom: 15px;
        border-radius: 6px;
        &::placeholder {
          font-family:$font-titulos;
        }
      }
    }
  }
}
#form-contactus{
  select{
    @include respond-above(lg){
      width: 185px!important;
    }
    width: 100%;
    height: 47px;
    display: block;
    padding-left: 10px;
    margin-bottom: 15px;
    background-color: $blanco;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    &:focus {
      outline-color: #f07d24;
    }
  }
  .subject{
    position: relative;
    width: 100%;
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f107";
      color: #f07d24;
      position: absolute;
      z-index: 500;
      bottom: 0;
      top: 10px;
      margin-left: auto;
      padding-right: 10px;
      right: 0;
      @include respond-above(lg){
        left: 160px!important;
        display: unset!important;
      }
    }
  }
  input{
      margin-bottom: 14px;
      width: 100%;
      border-radius: 6px;
      padding-left: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
      border: none;
      &:focus {
        outline-color: #f07d24;
      }
  }
  textarea{
    margin-bottom: 14px;
    width: 100%;
    border-radius: 6px;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
    &:focus {
      outline-color: #f07d24;
    }
  }
  .name-lastname{
    @include respond-above(lg){
      display: flex;
      justify-content: space-between;
      .name{
        width: 98%!important;
      }
      .lastname{
        width: 98%!important;
      }
    }
  }
  .btn-theme{
    @include respond-above(lg){
      width: 207px;
      display: block;
      margin-left: auto;
      padding: 14px 30px;
    }
  }
}