header{
    min-height: 90px;
    height: auto;
    #menu-theme{
        @include respond-below(md){
          flex-direction: row-reverse;
        }
        padding: 0;
    }
    &.fixed-top{
      background-color: $blanco;
      box-shadow: 2px 0px 4px $negro;
    }
    .navbar-toggler{
      border:none
    }
}
#navbarTogglerDemo02 {
    justify-content: flex-end!important;
    ul#menu-cygnus-main-menu{
      transition: $transition;
      a.nav-link{
        color: $negro;
        &:hover{
          color: $naranja;
        }
      }
    }
}
.logged-in {
  .fixed-top {
      top: 30px!important;
      
  }
}
.header-light {
      position: absolute;
      width: 100%;
      &.fixed-top{
        span.navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,33,33, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
        }
        #navbarTogglerDemo02{
          ul#menu-cygnus-main-menu{
            a.nav-link{
              color:$negro;
              &:hover{
                color: $naranja;
              }
            }
          }
        }
      }
      #navbarTogglerDemo02{
        
        ul#menu-cygnus-main-menu{
          a.nav-link{
            color:$blanco;
            &:hover{
              color: $naranja;
            }
          }
        }
      }
      span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
    }
header {
  &.fixed-top{
    position: fixed!important;
  }
}
.show{
 ul#menu-cygnus-main-menu {
    border-radius: 10px;
    z-index: 500;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    background: $gradiente-gris!important;
    width: 100%!important;
    margin: 0 auto;
    box-shadow: 1px 0 3px $negro;
    left: 0;
    a.nav-link{
      color: $negro!important;
      &:hover{
        color: $naranja!important;
      }
    }
  }
}
.current-menu-item{
  .nav-link{
    color: $naranja!important;
  }
}
