#navigation{
  padding: 50px 0;
  .prev-link{
    display: flex;
    align-items: center;
    svg{
      font-size: 28px;
      border: 2px solid;
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin: 0 7px;
      transition: $transition;
      &:hover{
        color: $naranja;
      }
      @include respond-above(lg){
        font-size: 37px!important;
        width: 45px!important;
        height: 45px!important;
      }
    }
    a{
      font-family: $font-titulos;
      font-weight: medium;
      font-size: 20px;
      line-height: 110%;
      color: $negro;
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: 0 solid $negro;
      transition: $transition;
      &:hover{
        border-width: 4px;
        border-color: $naranja;
        padding-bottom:5px;
      }
      @include respond-above(lg){
         font-size: 25px!important;
       }
    }
  }
  .prev-link:hover svg, .next-link:hover svg{
    color:$naranja
  }
  .next-link{
    display: flex;
    align-items: center;
    svg{
      font-size: 28px;
      border: 2px solid;
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin: 0 7px;
      transition: $transition;
      &:hover{
        color: $naranja;
      }
      @include respond-above(lg){
        font-size: 37px!important;
        width: 45px!important;
        height: 45px!important;
      }
    }
    a{
      font-family: $font-titulos;
      font-weight: medium;
      font-size: 20px;
      line-height: 110%;
      color: $negro;
      padding-bottom: 0px;
      border-bottom: 0 solid $negro;
      transition: $transition;
      text-decoration: none;
      &:hover{
        border-width: 4px;
        border-color: $naranja;
        padding-bottom:5px;
      }
       @include respond-above(lg){
         font-size: 25px!important;
       }
    }
  }
}