// Old Colors


// Colors
$green_light: #b5e0c3;
$magenta: #D10A8E;
$rojo:#FC4343;
$verde:#34945e;

// New Colors
$blanco:#FFFFFF;
$black: #222222;
$gradient-bg:  radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #F1DB8B 100%), #FFF969;
// Measurements
$image_isotype_height: 70px;

// Typography:
$font-titulos: 'Nunito', sans-serif;;
$font-textos: 'Montserrat', sans-serif;

// Transition:
$transition: all .4s ease-in;

// Breakpoint
$breakpoint_500px: 500px;
$breakpoint_768px: 768px;
$breakpoint_960px: 960px;

